In [6]:
def myfunction(x=2,y=2):
    sum=x+y
    return sum

In [7]:
x=5
y=10
print(myfunction(x,y))

15

In [8]:
def display():
    name  = 'Amritanshu '
    print(name)

In [9]:
display()

Amritanshu

In [10]:
def add(y):
    sum = 10+y
    print(sum)

In [11]:
add(10)

20

In [12]:
def disp():
    def show():
        print('Show Function')
    print('Display Function')
    show()
disp()

Display Function
Show Function

In [15]:
def  disp(sh):
    print(type(sh))
    print('Disp function ' + sh())
    
def show():
        return 'Show Function'
    
disp(show)

<class 'function'>
Disp function Show Function

In [16]:
def disp():
    def show():
        return 'Show Function'
    print('Disp Function')
    return show

r_sh = disp()
print(r_sh())

Disp Function
Show Function

In [21]:
def function(*num):
    sum = num[0]+num[1]+num[2]
    return sum

function(2,3,4)

9

In [20]:
# ** - key value 
def function(**num):
    sum = num['a']+num['b']+num['c']
    return sum

function(a=2,b=3,c=4)

9

In [22]:
def func2(*num1, **num2):
    sum = num1[0]+num1[1]+num2['a']+num2['b']
    return sum
func2(4,7,a=6,b=8)

25

In [24]:
def plus(x,y):
    sum = x+y
    return sum    

def func(a,b):
    add = plus(a,b)
    return add

func(a=10, b=20)

30

In [25]:
def plus(a,b):
    sum  = a+b
    return sum

def diff(a,b):
    sub = a-b
    return sub

def Div(a,b):
    div=plus(a,b)/diff(a,b)
    return div

Div(a=50, b=10)

1.5

In [36]:
x = 10

def fun():
    x = 5 
    sum = x + x 
    return sum

print(fun())
print(x)

10
10

In [37]:
x = 10

def fun():
    global x
    x = x + 5
    return x

print(fun())  
print(x)

15
15

In [35]:
i = 0

def myfun():
    global i
    if i < 10: 
        i += 1
        print('My Function', i)
        myfun()

myfun()

My Function 1
My Function 2
My Function 3
My Function 4
My Function 5
My Function 6
My Function 7
My Function 8
My Function 9
My Function 10

In [38]:
show = lambda x : print(x)
show(5)

5

In [ ]:
def isPrime(num):
    for i  in (range(2,num)):
        if num%i==0:
            return f"{num} is not prime"
            break
        else:
            return  f"{num} is prime"
        
isPrime(num=20)

'20 is not prime'

In [1]:
def fibo(n):
    if n<=1:
        return n
    else:
        return(fibo(n-1)+fibo(n-2))
    
nterms = int(input("Numbers"))
    
print('Series')
for i in range(nterms):
    print(fibo(i))

Series
0
1

In [ ]:
def armstrong(a):
    stra = str(a)
    power = len(stra)
    sum = 0
    for i in range(len(stra)):
        sum += int(stra[i]) ** power 

    if sum == a:
        return f'{a} is an Armstrong number'
    else:
        return f'{a} is not an Armstrong number'

In [12]:
armstrong(153)

'153 is an Armstrong number'